.env
.git
.github
.idea
.vscode

.editorconfig
.dockerignore
.gitattributes
.gitignore

.env*.example
!.env.docker.example
Dockerfile
Procfile

.phpstorm.meta.php

node_modules
vendor
composer.lock

docker
docs

start.cmd
start.sh
